
.message-area{
    height: 200px;
    /* border-radius: 5px; */
}

.send-button{
    background: #ffc048;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
}

.send-button:hover{
    color: #000;
}

.form-input:focus{
    border:2px solid#ffc048!important;
    box-sizing: border-box;
}



.message form div p{
    color: #f00;
}


.notify{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #229922;
    padding: 30px;
    z-index: 300;
    color: #fff;
}

.notify-show{
    animation: notify 3s ease-in-out;
}


@keyframes notify {
    0%{
        left: -100%;
    }
    20%{
        left: 100px;
    }
    50%{
        left: 50px;
    }
    80%{
        left: 50px;
    }
    100%{
        left: -100%;
    }
}