
nav .nav-buttons a:hover{
    background: #ffc048;
    color: #000;
}

nav{
    position: fixed;
    padding: 10px;
    max-height: 70px;
    width: 100vw !important;; 
    z-index: 100;
}

.nav-after::after{
    width: 100%;
    height: calc(100% + 2px);
    position: absolute;
    left: 0;
    top: -2px;
    content: '';
    background: #000;
    z-index: -1;
    animation: nav-after .5s ;
}
@keyframes nav-after{
    0%{
        height: 0%;
    }
    100%{
        height: 100%;
    }
}

/* nav logo */

nav .nav-logo {
    padding: 0 0 0 10px;
    z-index: 10;
    
}

nav .nav-logo img{
    height: 50px;
    cursor: pointer;
}


/* nav buttons */

nav .nav-buttons{
    padding: 5px ;
}

nav .nav-buttons a{
    padding: 10px;
    margin: 2px 5px;
    text-decoration: none;
    color: #fff;
}

nav .nav-buttons .active{
    background: #ffc048;
    color: #000;
}

/* nav search */


nav .nav-search div{
    position: relative;
}

nav .nav-search input{
    padding: 5px 10px;
    border-radius: 50px;
    border: none;
}

nav .nav-search div .nav-search-icon{
    background: #ddd;
    padding: 5px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    font-size: 24px;

}
nav .nav-search div .nav-search-icon:hover{
    background: #ccc;
    cursor: pointer;
}

/* nav button  */
nav .nav-button{
    height: 50px;
    width: 50px;
    border: 1px solid #fff;
    position: fixed;
    background: none;
    left: calc(100% - 60px);
    display: none;
}

nav .nav-button div{
    width: 35px;
    padding: 0;
    height: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

nav .nav-button span{
    height: 5px ;
    width: 35px;
    position: absolute;
    left: 0;
    display: inline-block;
    background: #fff;
    transition: all .5s ease-in-out;
}

nav .nav-button span:nth-child(1){
    top:5px;
}

nav .nav-button span:nth-child(2){
    top:15px;
}

nav .nav-button span:nth-child(3){
    top:25px;
}


/* mobile */



@media(max-width:768px){
    /* nav buttons */

    nav .nav-buttons{
        padding: 5px ;
        position: fixed;
        top: 50%;
        width: 100vw !important;
        background: #000;
        margin: 0;
        left: 50%;
        transform: translate(-50% ,-50%);
        height: calc(100vh);
        display: block!important;
        opacity: 1;
        animation: show-buttons .3s;
        padding-top: 100px;
    }
    
    nav .nav-buttons a{
        width: 90%;
        margin: 10px auto;
        text-align: center;
        display: block;
        border: 1px solid #fff;
        transition: all .5s ease-in-out;
    }

    nav .hide-buttons{
        display: none!important;
        opacity: 0;
        
    }

    @keyframes show-buttons {
        0% {
            width: 0%;
            height: 0%;
        }
        
        100%{
            width: 100%;
            height: 100%;
        }
    }


    /* nav search */
    nav .nav-search{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50% ,-50%);
    }
    nav .nav-search div{
        position: relative;
        width: 200px;
    }
    nav .nav-search input{ 
        width: 100%;
    }

    nav .nav-button{
        display: block;
    }

    .nav-button-clicked{
        background: #ffc048!important;
    }

    .nav-button-clicked div span:nth-child(1){
        top: 15px!important;
        transform: rotate(45deg);
    }

    .nav-button-clicked div span:nth-child(2){
        top: 15px!important;
        transform: rotate(45deg);
    }

    .nav-button-clicked div span:nth-child(3){
        top: 15px!important;
        transform: rotate(-45deg);
    }
    
}

